<settings>
        <profiles>
                <profile>
                        <id>cloudsmith</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
                        <repositories>
                                <repository>
                                        <id>cloudsmith</id>
                                        <url>https://am0.cloudsmith.com/nexus/content/repositories/snapshots/</url>
                                        <releases>
                                                <enabled>false</enabled>
                                        </releases>
                                        <snapshots>
                                                <enabled>true</enabled>
                                        </snapshots>
                                </repository>
                        </repositories>
                        <pluginRepositories>
                                <pluginRepository>
                                        <id>cloudsmith</id>
                                        <url>https://am0.cloudsmith.com/nexus/content/repositories/snapshots/</url>
                                        <releases>
                                                <enabled>false</enabled>
                                        </releases>
                                        <snapshots>
                                                <enabled>true</enabled>
                                        </snapshots>
                                </pluginRepository>
                        </pluginRepositories>
                </profile>
        </profiles>
	<activeProfiles>
		<activeProfile>cloudsmith</activeProfile>
	</activeProfiles>
</settings>
